<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    
<div class="header">

    <form method="post" action="../Controller/logincheck.php">

        <label for="">Login</label><br>
        User Email:<input type="text" name="login" id=""><br>
        User Password <input type="password" name="password" id="">
        <input type="submit"  name="submit" value="submit">




    </form>

</div>



</body>
</html>